<div class="container">
  
  <div ng-controller="Players" >

    <div class="link_line" ng-repeat="link in links | filter:filters">
    <div class="title"><a href="{{link.url}}" target="_blank">{{link.title}}</a></div>
    <div class="category_label" ng-click="filters.category = link.category">{{ link.category }}</div>

  </div>


<div class="col-sm-7">
              <table class="table">
                <thead>
                  <th>
                    <a ng-click="orderByField='Position'; reverseSort = !reverseSort">
                    Position <span ng-show="orderByField == 'Position'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                    </a>

                        <select ng-model="byPosition.Position">
                          <option value="">ALL</option>
                          <option value="QB">QB</option>
                          <option value="WR">WR</option>
                          <option value="RB">RB</option>
                          <option value="TE">TE</option>
                          <option value="DST">DST</option>
                        </select>

                  </th>
                  <th>

                    <a ng-click="orderByField='Name'; reverseSort = !reverseSort">
                    Name <span ng-show="orderByField == 'Name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                    </a>

                  </th>
                  <th>

                    <a ng-click="orderByField='Proj'; reverseSort = !reverseSort">
                    Projected <span ng-show="orderByField == 'Proj'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                    </a>

                  </th>
                  <th>

                    <a ng-click="orderByField='Salary'; reverseSort = !reverseSort">
                    Cost <span ng-show="orderByField == 'Salary'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                    </a>

                  </th>

                  <th>

                    <a ng-click="orderByField='AvgPointsPerGame'; reverseSort = !reverseSort">
                    Avg Pts/G <span ng-show="orderByField == 'AvgPointsPerGame'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                    </a>

                  </th>

                  <th>

                    <a ng-click="orderByField='ProjPointsPerDollar'; reverseSort = !reverseSort">
                    ProjPts / $ <span ng-show="orderByField == 'ProjPointsPerDollar'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                    </a>

                  </th>
                </thead>
                  <tbody>
                      <tr ng-repeat="player in data | filter:byPosition | orderBy:orderByField:reverseSort">
                        <td style="width:200px">
                          {{ player.Position }}
                        </td>                       
                        <td style="width:200px">
                          {{ player.Name }}
                        </td>
                        <td style="width:200px">
                          {{ player.Proj }}
                        </td>
                        <td style="width:250px">
                          ${{ player.Salary }}
                        </td>
                        <td style="width:200px">
                          {{ player.AvgPointsPerGame }}
                        </td>
                        <td style="width:200px">
                          {{ player.ProjPointsPerDollar }}
                        </td>
                      </tr>
                  </tbody>
              </table>

       </div>


       <div class="col-sm-5">

          <h3>ProjPts / $</h3>

          <p>(ProjPts / Cost) x 1000
            <br>
            <br>
            It considers the value of each player based on their projected value and their cost. The higher the number the better the value.</p>

       </div>
    

</div>
