<div class="main">
        <div class="gradient">
            <div class="carousel container slide" id="myCarousel">
                <!-- Items -->

                <div class="carousel-inner">

                    <div class="active item"><img alt="" src=
                    "img/photos/IMG_3891.JPG"></div>

                   
                </div><!-- Navigation -->
                <a class="carousel-control left" data-slide="prev" href=
                "#myCarousel">&lsaquo;</a> <a class="carousel-control right"
                data-slide="next" href="#myCarousel">&rsaquo;</a>
            </div><!--start: Wrapper-->

            <div id="wrapper">
                <!--start: Container -->

                <div class="container">
                    <!-- start: Row -->

                    <div class="row">
                        <!-- start: Icon Box Start -->

                        <div class="span12" style="padding-top:15px">
                            <h2>Roque Roofing</h2>

                            <h3 style="color:#CBC39F">Proudly Serving Southern
                            Ontario Since 1980</h3><img src=
                            "img/footer_pic.png">

                            <div class="clear"></div>
                        </div><!-- end: Icon Box-->
                    </div>

                    <div class="clear"></div>
                </div><!-- end: Row -->
                <br>
            </div><!--end: Container-->
        </div><!-- end: Wrapper  --><!-- start: Footer -->

        <div id="footer">
            <!-- start: Container -->

            <div class="container">
                <!-- start: Row -->

                <div class="row">
                    <div class="span3">
                        <ul class="nav nav-tabs nav-stacked" style=
                        "text-align:right">
                            <li class="button" >
                                <a ng-click="showme=false">Who we are <i class=
                                "fa fa-angle-right"></i></a>
                            </li>

                            <li class="button">
                                <a ng-click="showme=true">Our History <i class=
                                "fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div><!-- start: About -->

                    <div class="span9">
                        <div ng-hide="showme" style="">
<h2 style="padding-left:20px">Who we are</h2>

<hr style="margin-left:20px;width:30%">
                            <p>Roque Roofing is located in Hamilton, Ontario.
                            Specializing in built-up roofing, we are also
                            approved applicators of most major manufacturers of
                            modified bitumen, cold applied roof restorations
                            and single ply membranes. In addition to new
                            construction and re-roofing, we provide
                            preventative maintenance services. Customers are
                            protected with Roque Roofing through excellent
                            financial stability, complete insurance and bonding
                            protection.<br>
                            <br>
                            Roque Roofing provides quality contracting services
                            and continues to exceed the expectations of owners
                            and consultants.</p>
                        </div>

                        <div ng-show="showme">
<h2 style="padding-left:20px">Our History</h2>

<hr style="margin-left:20px;width:30%">
                            <p>With just a little over 10 years of experience in flat roofing, Manuel Roque, Owner, ventured out on his own and established ROQUE ROOFING in 1980. Now in its second generation, the company continues to be owned and operated by Manuel and his family. <br><br>

In addition to Manuel’s 40 plus years of flat roofing experience, he has trained our crews how to install the best quality of roof systems and since Roque Roofing takes pride in our work we ensure all project requests are met to the customer’s satisfaction.
<br><br>
At Roque Roofing, our Health and Safety Policy is very simple, “SAFETY FIRST”. This fundamental policy ensures that no worker will adopt a procedure or undertake a work activity that is likely to cause injury to that person or any other workers.
<br><br>
Roque Roofing serves all of southwestern Ontario, providing professional friendly service and quality commercial roofing. Certified to install many types of roofing systems, quickly and efficiently, Roque Roofing has the expertise to get the job done!</p>
                        </div>


                    </div><!-- end: About -->
                    <!-- start: Photo Stream -->
                    <!--

                    <iframe id="small-map" width="100%" height="210" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=Los+Angeles,+Kalifornia,+Stany+Zjednoczone&amp;aq=0&amp;oq=Los&amp;sll=50.143066,18.85267&amp;sspn=0.057207,0.168915&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Los+Angeles,+Hrabstwo+Los+Angeles,+Kalifornia,+Stany+Zjednoczone&amp;ll=34.052234,-118.243685&amp;spn=0.036979,0.084457&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe>

                -->
                </div><!-- end: Photo Stream -->
            </div><!-- end: Row -->
        </div><!-- end: Container  -->
    </div><!-- end: Footer -->