
<div class="main">
        <div class="gradient">
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="img/slider/slider1.jpg" alt="First slide">

        </div>
        <div class="item">
          <img src="img/slider/slider2.jpg" alt="Second slide">

        </div>
        <div class="item">
          <img src="img/slider/slider3.jpg" alt="Third slide">

        </div>
        <div class="item">
          <img src="img/slider/slider4.jpg" alt="Fourth slide">

        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->



            <div id="wrapper" style="height:90px">
                <!--start: Container -->

                <div class="container">
                    <!-- start: Row -->

                    <div class="row full">
                        <!-- start: Icon Box Start -->

                        <div class="col-sm-12" style="padding:5px 50px 0px">
                            <div class="col-sm-2">
                                <img src="img/banner/Civil.png"  style="max-height:70px;"/>
                            </div>
                            <div class="col-sm-2">
                                <img src="img/banner/Commercial.png" style="max-height:70px"/>
                            </div>
                            <div class="col-sm-2">
                                <img src="img/banner/Educational.png"  style="max-height:70px"/>
                            </div>
                            <div class="col-sm-2">
                                <img src="img/banner/Industrial.png"  style="max-height:70px"/>
                            </div>
                            <div class="col-sm-2">
                                <img src="img/banner/Institutional.png"  style="max-height:70px"/>
                            </div>
                            <div class="col-sm-2">
                                <img src="img/banner/Retail.png"  style="max-height:70px"/>
                            </div>
                            <div class="clear"></div>
                        </div><!-- end: Icon Box-->
                    </div>

            </div>
 </div>
        <div id="footer">
            <!-- start: Container -->

            <div class="container">
                <!-- start: Row -->

                <div class="row">
                    <div class="col-xs-3">
                        <ul class="nav nav-tabs nav-stacked" style=
                        "text-align:right">
                            <li class="button" >
                                <a ng-click="showme = 1">Who we are <i class=
                                "fa fa-angle-right"></i></a>
                            </li>

                            <li class="button">
                                <a ng-click="showme = 2">Our History <i class=
                                "fa fa-angle-right"></i></a>
                            </li>

                            <li class="button">
                                <a ng-click="showme = 3">Our Staff <i class=
                                "fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div><!-- start: About -->

                    <div class="col-xs-9">
                        <div ng-hide="showme == 2 || showme == 3" style="">
                    <h2 style="padding-left:20px">Who we are</h2>

                    <hr style="margin-left:20px;width:30%">
                    <p>Roque Roofing is located in Hamilton, Ontario.
                    Specializing in built-up roofing, we are also
                    approved applicators of most major manufacturers of
                    modified bitumen, cold applied roof restorations
                    and single ply membranes. In addition to new
                    construction and re-roofing, we provide
                    preventative maintenance services. Customers are
                    protected with Roque Roofing through excellent
                    financial stability, complete insurance and bonding
                    protection.<br>
                    <br>
                    Roque Roofing provides quality contracting services
                    and continues to exceed the expectations of owners
                    and consultants.</p>
                    </div>

                    <div ng-show="showme ==  2">
                    <h2 style="padding-left:20px">Our History</h2>

                    <hr style="margin-left:20px;width:30%">
                    <p>With just a little over 10 years of experience in flat roofing, Manuel Roque, Owner, ventured out on his own and established ROQUE ROOFING in 1980. Now in its second generation, the company continues to be owned and operated by Manuel and his family. <br><br>

                    In addition to Manuel’s 40 plus years of flat roofing experience, he has trained our crews how to install the best quality of roof systems and since Roque Roofing takes pride in our work we ensure all project requests are met to the customer’s satisfaction.
                    <br><br>
                    At Roque Roofing, our Health and Safety Policy is very simple, “SAFETY FIRST”. This fundamental policy ensures that no worker will adopt a procedure or undertake a work activity that is likely to cause injury to that person or any other workers.
                    <br><br>
                    Roque Roofing serves all of southwestern Ontario, providing professional friendly service and quality commercial roofing. Certified to install many types of roofing systems, quickly and efficiently, Roque Roofing has the expertise to get the job done!</p>
                    </div>

<div ng-show="showme ==  3">

<div style="padding-left:20px">
<div class="col-md-3 col-sm-3" style="margin-left:0px">
    <img src="img/RoqueRoofing7.jpg" style="width:100%;padding-bottom:5px" />
    <p style="padding-left:0px;">Danny Roque</p>
<a href="mailto:danny@roqueroofing.com" style="padding-left:0px;font-size:14px;margin-bottom:10px">danny@roqueroofing.com</a>
    <p style="padding-left:0px;font-size:14px;line-height:15px;padding-bottom:10px"><i style="color:#999">Chief Estimator/Director</i></p>
</div>
<div class="col-md-3 col-sm-3" style="margin-left:0px">
    <img src="img/RoqueRoofing4.jpg" style="width:100%;padding-bottom:5px" />
    <p style="padding-left:0px;">Scott Wager</p>
   <p style="padding-left:0px;font-size:14px;line-height:15px;padding-bottom:10px"><i style="color:#999">Project Manager/ Sales</i></p>
</div>
<div class="col-md-3 col-sm-3" style="margin-left:0px">
    <img src="img/RoqueRoofing5.jpg" style="width:100%;padding-bottom:5px" />
    <p style="padding-left:0px;">Gina Dancer</p>
    <p style="padding-left:0px;font-size:14px;line-height:15px;padding-bottom:10px"><i style="color:#999">Book Keeper</i></p>
</div>


<div class="col-md-3 col-sm-3" style="margin-left:0px">
    <img src="img/RoqueRoofing6.jpg" style="width:100%;padding-bottom:5px" />
    <p style="padding-left:0px;">Rick Raposo</p>
<a href="mailto:rick@roqueroofing.com" style="padding-left:0px;font-size:14px;margin-bottom:10px">rick@roqueroofing.com</a>

    <p style="padding-left:0px;font-size:14px;line-height:15px;padding-bottom:10px"><i style="color:#999">Health and Safety Coordinator</i></p>
</div>
<div class="col-md-3 col-sm-3" style="margin-left:0px">
    <img src="img/RoqueRoofing3.jpg" style="width:100%;padding-bottom:5px" />
    <p style="padding-left:0px;">Cristina Roque</p>
<a href="mailto:cristina@roqueroofing.com" style="padding-left:0px;font-size:14px;margin-bottom:10px">cristina@roqueroofing.com</a>
    <p style="padding-left:0px;font-size:14px;line-height:15px;padding-bottom:10px"><i style="color:#999">Office Manager</i></p>
</div>
<div class="col-md-3 col-sm-3" style="margin-left:0px">
    <img src="img/RoqueRoofing2.jpg" style="width:100%;padding-bottom:5px" />
    <p style="padding-left:0px;">Eric Cowley</p>
<a href="mailto:eric@roqueroofing.com" style="padding-left:0px;font-size:14px;margin-bottom:10px">eric@roqueroofing.com</a>

    <p style="padding-left:0px;font-size:14px;line-height:15px;padding-bottom:10px"><i style="color:#999">Estimator</i></p>
</div>

<div class="col-md-3 col-sm-3" style="margin-left:0px">
    <img src="img/Sarah.jpg" style="width:100%;padding-bottom:5px" />
    <p style="padding-left:0px;">Sarah Roque</p>
<a href="mailto:sarah@roqueroofing.com" style="padding-left:0px;font-size:14px;margin-bottom:10px">sarah@roqueroofing.com</a>
    <p style="padding-left:0px;font-size:14px;line-height:15px;padding-bottom:10px"><i style="color:#999">Office Administration/ Employee Communications</i></p>

</div>
</div>

                        </div>


                    </div><!-- end: About -->
                    <!-- start: Photo Stream -->
                    <!--

                    <iframe id="small-map" width="100%" height="210" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=Los+Angeles,+Kalifornia,+Stany+Zjednoczone&amp;aq=0&amp;oq=Los&amp;sll=50.143066,18.85267&amp;sspn=0.057207,0.168915&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Los+Angeles,+Hrabstwo+Los+Angeles,+Kalifornia,+Stany+Zjednoczone&amp;ll=34.052234,-118.243685&amp;spn=0.036979,0.084457&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe>

                -->
                </div><!-- end: Photo Stream -->
            </div><!-- end: Row -->
        </div><!-- end: Container  -->
    </div><!-- end: Footer -->