<div class="main">

            <div id="wrapper" style="height:30px">
                <!--start: Container -->

                <div class="container">
                    <!-- start: Row -->

                    <div class="row">
                        <!-- start: Icon Box Start -->

                        <div class="span12" style="padding-top:5px">

                            <h3 style="color:#CBC39F;">Proudly Serving Southern
                            Ontario Since 1980</h3>

                            <div class="clear"></div>
                        </div><!-- end: Icon Box-->
                    </div>

                    <div class="clear"></div>
                </div><!-- end: Row -->
                <br>
            </div><!--end: Container-->
        </div><!-- end: Wrapper  --><!-- start: Footer -->

        <div id="footer">
            <!-- start: Container -->

            <div class="container">
                <!-- start: Row -->
                
                <div class="row">
<h2 style="padding-left:20px">Insurance and Bonding</h2>
<br>
                    <div class="span3">

                        <ul class="nav nav-tabs nav-stacked" style=
                        "text-align:right">
                            <li class="button" >
                                <a ng-click="showme=false">Coverage <i class=
                                "fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div><!-- start: About -->

                    <div class="span9">
                        <div ng-hide="showme" style="">
<h2 style="padding:0px 20px 20px">Coverage</h2>

<hr style="margin-left:20px;width:30%">

<p>The Guarantee Company of North America act as surety for Roque Roofing Inc. for more than 15 years.  We have been provided with Surety support on single contracts in the multi-millions of dollars.  We currently have available surety facility in excess of $10 million.  
The Guarantee Company of North America always supports Roque Roofing Inc. in the execution of required Bid Bonds, Agreements to Bond, Performance Bonds and Labour and Material Payment Bonds.</p>
<br><br>
<div class="list" style="padding-left:0px;font-size:18px;line-height:40px">
   
<p>COMMERCIAL GENERAL LIABILITY - LIBERTY INTERNATIONAL -  $10 MILLION</p>
<br>
<p>AUTOMOBILE INSURANCE - LIBERTY INTERNATIONAL - $10 MILLION</p>
<br>
<p>EXCESS LIABILITY - LIBERTY INTERNATIONAL - $10 MILLION</p>


</div>
                        </div>

<div ng-show="showme">
<h2 style="padding:0px 20px 20px">School Board</h2>


<hr style="margin-left:20px;width:30%">
    <div class="container">
<div class="row">
<div class="span6" >
    <p>
Hamilton Wentworth 
Catholic District School Board<br>
90 Mulberry Street<br>
P.O. Box 2012<br>
Hamilton ON <br> 
L8N 3R9<br><br>

Dave Morrissey OR Moe Kowal<br>
905-525-2930<br>
    </p>
    <hr style="width:40px;margin-left:20px">
    <p>
Alspex Building Consultants Inc<br>
66 Westlawn Dr<br>
Hamilton, Ontario, <br>
L9B 2K9<br><br>

Spyros Aplidgiotis<br>
905-575-0038<br>
    </p>
</div>
<div class="span6">
        <p>
Hamilton Wentworth 
District School Board<br>
100 Main Street West<br>
P.O. Box 2558<br> 
Hamilton Ontario, <br>
L8N 3L1<br><br>

Russ Burch<br>
905-527-5092<br>
    </p>
    <hr style="width:40px;margin-left:20px">

    <p>
Alspex Building Consultants Inc<br>
66 Westlawn Dr<br>
Hamilton, Ontario, <br>
L9B 2K9<br><br>

Spyros Aplidgiotis<br>
905-575-0038<br>
    </p>
</div>
</div>
</div>


                    </div><!-- end: About -->
                    <!-- start: Photo Stream -->
                    <!--

                    <iframe id="small-map" width="100%" height="210" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=Los+Angeles,+Kalifornia,+Stany+Zjednoczone&amp;aq=0&amp;oq=Los&amp;sll=50.143066,18.85267&amp;sspn=0.057207,0.168915&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Los+Angeles,+Hrabstwo+Los+Angeles,+Kalifornia,+Stany+Zjednoczone&amp;ll=34.052234,-118.243685&amp;spn=0.036979,0.084457&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe>

                -->
                </div><!-- end: Photo Stream -->
            </div><!-- end: Row -->
        </div><!-- end: Container  -->
    </div><!-- end: Footer -->