<div class="main">

            <div id="wrapper" style="height:30px">
                <!--start: Container -->

                <div class="container">
                    <!-- start: Row -->

                    <div class="row">
                        <!-- start: Icon Box Start -->

                        <div class="span12" style="padding-top:5px">

                            <h3 style="color:#CBC39F;">Proudly Serving Southern
                            Ontario Since 1980</h3>

                            <div class="clear"></div>
                        </div><!-- end: Icon Box-->
                    </div>

            </div>
 </div>

        <div id="footer">
            <!-- start: Container -->

            <div class="container">
                <!-- start: Row -->
                
                <div class="row">
<h2 style="padding-left:20px">References</h2>
<br>
                    <div class="span3">

                        <ul class="nav nav-tabs nav-stacked" style=
                        "text-align:right">
                            <li class="button" >
                                <a ng-click="showme = 1">Roof Consultants <i class=
                                "fa fa-angle-right"></i></a>
                            </li>

                            <li class="button">
                                <a ng-click="showme = 2">School Boards <i class=
                                "fa fa-angle-right"></i></a>
                            </li>
                            <li class="button">
                                <a ng-click="showme = 3">General Contractors <i class=
                                "fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>

   <div class="span9">
   
   <div ng-hide="showme == 2 || showme == 3">
                <h2 style="padding:0px 20px 20px">Roof Consultants</h2>

                <hr style="margin-left:20px;width:30%">



<div class="list" style="padding-left:0px;font-size:18px;line-height:40px">
<div class="row">
<div class="span6" >
    <p>
Industrial Roof Consultants Group Inc<br>
Dambro Crescent<br>
Mississauga, Ontario,<br> 
L5N 6P9<br><br>

Albert J. Duwyn<br>
905-607-7244<br>
    </p>
    <hr style="width:40px;margin-left:20px">
    <p>
Alspex Building Consultants Inc<br>
66 Westlawn Dr<br>
Hamilton, Ontario, <br>
L9B 2K9<br><br>

Spyros Aplidgiotis<br>
905-575-0038<br>
    </p>
</div>

</div>
</div>
          </div>            

<div ng-hide="showme == 3">
<h2 style="padding:0px 20px 20px">School Board</h2>


<hr style="margin-left:20px;width:30%">
<div class="row">
<div class="span6" >
    <p>
Hamilton Wentworth 
Catholic District School Board<br>
90 Mulberry Street<br>
P.O. Box 2012<br>
Hamilton ON <br> 
L8N 3R9<br><br>

Dave Morrissey OR Moe Kowal<br>
905-525-2930<br>
    </p>
    <hr style="width:40px;margin-left:20px">
        <p>
Hamilton Wentworth 
District School Board<br>
100 Main Street West<br>
P.O. Box 2558<br> 
Hamilton Ontario, <br>
L8N 3L1<br><br>

Russ Burch<br>
905-527-5092<br>
    </p>
</div>

</div>

            </div><!-- end: Row -->
        </div><!-- end: Container  -->
    </div><!-- end: Footer -->