<div class="main">

            <div id="wrapper" style="height:30px">
                <!--start: Container -->

                <div class="container">
                    <!-- start: Row -->

                    <div class="row">
                        <!-- start: Icon Box Start -->

                        <div class="span12" style="padding-top:5px">

                            <h3 style="color:#CBC39F;">Proudly Serving Southern
                            Ontario Since 1980</h3>

                            <div class="clear"></div>
                        </div><!-- end: Icon Box-->
                    </div>

                    <div class="clear"></div>
                </div><!-- end: Row -->
                <br>
            </div><!--end: Container-->
        </div><!-- end: Wrapper  --><!-- start: Footer -->

        <div id="footer">
            <!-- start: Container -->

            <div class="container">
                <!-- start: Row -->
                
                <div class="row">
<h2 style="padding-left:20px">Safety First</h2>
<br>
                    <div class="span3">

                        <ul class="nav nav-tabs nav-stacked" style=
                        "text-align:right">
                            <li class="button" >
                                <a ng-click="showme=false">Overview <i class=
                                "fa fa-angle-right"></i></a>
                            </li>
                            <li class="button" >
                                <a ng-click="showme=true">Safety Coordinator<i class=
                                "fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div><!-- start: About -->

                    <div class="span9">
                        <div ng-hide="showme" style="">
<h2 style="padding:0px 20px 20px">Overview</h2>

<hr style="margin-left:20px;width:30%">

<p>At Roque Roofing Inc., we know that above adequate safety on our projects’ is not only vital to the welfare of on-site workers, but also impacts the successful completion of our client’s projects and therefore the success of our business as a whole. We have developed a comprehensive safety program and we perform regular inspections of job sites to ensure full compliance with all such safety programs and procedures. <br><br>

Compliance with all applicable federal, provincial and municipal safety requirements is imperative in the roofing business. We know that safety is of grave concern to our clients and we take our safety responsibilities very seriously. <br><br> 

Safety is our principal objective at Roque Roofing Inc. and influences every decision we make. It is necessary that the tone is set early and often for a safe, clean job site. This is crucial in order for our schedules to be maintained and to ensure the safety of all those involved on our projects, from workers to sub-contractors and the public. Roque Roofing Inc. establishes the tone early in the process by reviewing and qualifying all subcontractors with regard to their past performance, financial stability, current workload as well as their safety history on past projects. <br><br> 

Pre-construction orientation meetings are conducted for all trades and employees on every project. Safety issues are discussed openly to create a better understanding of what is expected from each individual as well as everyone else working on the site. Once a week, all workers are assembled for a "Toolbox Talk" lead by Roque Roofing’s safety coordinator, which are directly related to topics on the current job and the roofing industry in general. Items discussed will be recorded and filed along with a list of meeting attendees. <br><br> 

All clients, employees and subcontractors of Roque Roofing Inc. can expect an environment that is true to the belief that everyone has the right and deserves to return home safely at the end of each workday. </p>


                        </div>

<div ng-show="showme">
<h2 style="padding:0px 20px 20px">Safety Coordinator</h2>


<hr style="margin-left:20px;width:30%">
   
<h3>Rick Raposo</h3>
 <p>
Roque Roofing’s in house full-time Safety Coordinator, Rick Raposo, is responsible for all aspects of safety training and monitoring of all site safety here at Roque Roofing Inc. Each new employee is given a full review of all safety policies and procedures prior to being placed into the field. New Employees must go through a vital rigorous initial orientation and must pass all appropriate safety courses required by their position before being placed at any job site. <br><br>

Rick also makes regular unannounced jobsite visits to make sure that all personnel on every Roque Roofing Inc. project are working safely and that safety equipment needs are in place appropriately and working effectively. <br><br>

He is trained in all roofing relevant safety fields and toward the training of our employees by the Construction Safety Association of Ontario (http://www.csao.org/home.cfm) as well as The Transportation Health & Safety Association of Ontario (http://web.thsao.on.ca/) which are both members of the Infrastructure Health & Safety Association of Ontario (http://www.ihsa.ca/). He also holds accreditation from The Occupational Safety Group (http://www.osg.ca/) and is recognized by the Workplace Safety & Insurance Board (http://www.wsib.on.ca) to be our Managerial Certified Member on the Joint Health & Safety Committee. <br><br>

Below is a list of all training Rick has received and is able to pass on to our workforce by training them in house at our office;
<br>
<br>
  </p>
<div class="list" style="padding-left:0px;font-size:18px;line-height:40px">
<li>Material Handling</li>
<li>PPE (Personal Protective Equipment)</li>
<li>Fire Extinguisher Use & Operation</li>
<li>Traffic Control</li>
<li>Fall Protection</li>
<li>WHMIS (Workplace Hazardous Materials Information System)</li>
<li>Hoisting & Rigging</li>
<li>Propane use in Roofing</li>
<li>Forklift Operation</li>
<li>Transportation of Dangerous Goods</li>
<li>Basics of Supervising</li>
</div>
  


                    </div><!-- end: About -->
                    <!-- start: Photo Stream -->
                    <!--

                    <iframe id="small-map" width="100%" height="210" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=Los+Angeles,+Kalifornia,+Stany+Zjednoczone&amp;aq=0&amp;oq=Los&amp;sll=50.143066,18.85267&amp;sspn=0.057207,0.168915&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Los+Angeles,+Hrabstwo+Los+Angeles,+Kalifornia,+Stany+Zjednoczone&amp;ll=34.052234,-118.243685&amp;spn=0.036979,0.084457&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe>

                -->
                </div><!-- end: Photo Stream -->
            </div><!-- end: Row -->
        </div><!-- end: Container  -->
    </div><!-- end: Footer -->