
html {
    padding:0;
    margin:0;
    overflow-y:scroll;
    overflow-x:hidden
}

body {
    margin:0;
    padding:0
}

#map {
    margin-top:50px;
    width:100%;
    height:600px
}

.navbar-fixed-top,.navbar-fixed-bottom {
    position:fixed;
    right:0;
    left:0;
    z-index:1000
}

.SvgOverlay,.SvgOverlay svg {
    position:absolute;
    top:0;
    left:0
}

.SvgOverlay svg {
    position:absolute;
    top:-4000px;
    left:-4000px;
    width:8000px;
    height:8000px
}

.SvgOverlay path {
    stroke:#000;
    stroke-width:0;
    fill:Orange;
    fill-opacity:.8
}

.bottomBar {
    position:relative;
    width:100%;
    height:820px;
    background-color:rgba(50,50,50,1)
}

.navbar-default {
    background-color:rgba(50,50,50,1);
    border-left:solid 0 #000;
}

div.sideBar {
    width:270px;
    height:260px;
    background-color:rgba(255,255,255,1);
    position:fixed;
    top:100px;
    right:0;
   border-left:solid 1px #000;
    border-top:solid 1px #000;
    border-bottom:solid 1px #000;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    padding:20px;
    color:#222;
    -webkit-box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
}

.legend {
    width:270px;
    height:170px;
    background-color:rgba(255,255,255,1);
    position:fixed;
    top:400px;
    right:0;
   border-left:solid 1px #000;
    border-top:solid 1px #000;
    border-bottom:solid 1px #000;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    padding:20px;
    color:#222;
    -webkit-box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
}

div.title {
    font-size:14px;
    color:#222;
    font-weight:400;
    display:inline;
}

div.ward {
    font-size:14px;
    color:#222;
    font-weight:400;
    display:inline;
}

.navbar-fixed-top {
    padding-left:0;
    padding-right:0
}

.col-sm-12 {
    padding:0
}

.navbar-default .navbar-brand {
color: #fff;
letter-spacing: 1px;

}

.voteChart {
    width:100%;
    height:160px;
    color:#000;
    border-radius:5px
}

.voteChart rect {
    fill:#4682b4
}

.voteChart text {
    fill:#fff;
    font:10px sans-serif;
    text-anchor:end
}

.voteChart rect.ford {
    fill:#900;
    stroke:#fff;
    stroke-width:1px;
    shape-rendering:crispEdges
}

.voteChart rect.tory {
    fill:#039;
    stroke:#fff;
    stroke-width:1px;
    shape-rendering:crispEdges
}

.voteChart rect.chow {
    fill:#60F;
    stroke:#fff;
    stroke-width:1px;
    shape-rendering:crispEdges
}

.title {
    height:25px
}

.ward {
    height:30px
}

text.barText {
    fill:#222;
    color:#222;
    text-anchor:start;
}

.bar text {
    fill:#222;
    color:#222;
}

path {
    stroke:#4682b4;
    stroke-width:2;
    fill:none
}

.axis text{
    fill:#222;
}
.axis path,.axis line {
    fill:none;
    stroke:grey;
    stroke-width:1;
    shape-rendering:crispEdges;
}

.wardNumber {
    pointer-events:none
}

.wardBoundaries {
    pointer-events:none
}

.github {
    z-index:1040
}
  